# WordPress core
app/public/wp-admin/
app/public/wp-includes/
app/public/wp-content/plugins/
app/public/wp-content/themes/twentytwenty*/
app/public/wp-content/uploads/

# Local / outils
conf/
app/sqlite/
.env
.vscode/
.idea/
logs/
